body { 
	background-color: #7F8C8D;
	font: 62.5% 'century gothic', applegothic, helvetica, sans-serif;
}

p {
	font: 1.2em/1.6 helvetica, sans-serif;
	padding-left: .8em;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.5;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
}

h4 { 
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(46, 204, 113);
}

ol > li {
	text-indent: 0;
}
/* Page layout */

#wrapper {
	background-color: #7F8C8D;
	overflow: auto;
	margin: 2em auto;
	max-width: 980px;
	min-height: 40em;
}

/*Clearfix alternative for #wrapper
#wrapper:before, #wrapper:after {
	content: "";
	display: table;
	}

#wrapper:after {
	clear: both;
	}	*/

#right-column {
	background-color: #7F8C8D;
	float: left;
	width: 20%;
	margin-left: 10px;
}

#center-column {
	width: 50%;
	margin-left: 15%;
	float: left;

}

.main-content {
	background-color: #ECF0F1;
	padding: 20px 40px;
}

header {
	display: block;
	background-color: rgb(46, 204, 113);
	color: #eee;
	padding: 5px 10px;
	height: 200px;
	line-height: 200px;
	border-bottom: 4px solid #27AE60;
}

header > * {
	display: inline;
	vertical-align: bottom;
}

nav {
	display: block;
	text-align: right;
	background-color: #34495E;
	border-bottom: 4px solid rgba(24,24,24,.5);
}

.main-navigation {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #34495E;
	padding: 5px 5px;
	margin: 0 0;
	font-size: 1.05em;
}

.bottom-border{
	border-bottom: 1px solid gray;
}

.relative {
	position: relative;
}

/* Aside formatting*/

.right-aside {
	background-color: #ECF0F1;
	padding: 5px;
	position: relative;
	top: 264px;
	left: 0;
}

.right-aside > * {
	list-style: none;
}

.right-aside ul :first-child {
	text-indent: -.8em;
	}
.list-larger-text {
	font: 1.2em/1.7 Verdana, Geneva, sans-serif;
	color: gray;
}

/* Ordered list - no indent */

.ordered-list-noindent {
	padding-left: 0;
	margin-left: 1.5em;
}

/* Footer - Poster info */

.posted-by {
	font: 1em/1.5 Verdana, Geneva, sans-serif;
	color: gray;
	margin-bottom: 4em;
}

/* Table */

table.table-borders-all {
	border-collapse: collapse;
	border: 1px solid gray;
}

table.table-borders-all td, table.table-borders-all th {
	border: 1px solid gray;
	padding: 10px;
}

table.table-borders-all th {
	height: 1em;
	background-color: rgb(189, 195, 199);
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}

.blue-button {
	background-color: rgb(52, 152, 219);
	border: none;
	padding: 5px 15px;
}

.blue-button > a {
	color: #eee;
	font-weight: bold;
}

.blue-button > a:hover {
	color: rgb(46, 204, 113);
}

/* Code sample */

.code-sample {
	background-color: #BDC3C7;
	margin: 0 0;
	padding: .8em 2em; 
	font: 1.2em/1.6 "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;	
}

/* Form */

.comments-form fieldset {
	width: 100%;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 10px;
	margin: 20px 0 30px 0;
}

.comments-form label {
	display: inline-block;
	width: 8em;
	padding: 10px 5px;	
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
}

.comments-form input {
	display: inline-block;
	width: 22em;
}

.comments-form input[type="textarea"] {
	width: 100%;
	height: 150px;
	text-align: top;
}
.comments-form input[type="submit"] {
	display: block;
	background-color: #C0392B;
	color: #eee;
	width: 100%;
	height: 30px;
	border: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.4em;
	margin-top: 10px;
}

/* Comments */

.comments-all {
	font: .9em/1.2 Verdana, Geneva, sans-serif;
}

.user-image {
	display: inline-block;
	float: left;
	padding-right: 15px;
}

.comments-username {
	display: inline-block;

}

.comments-date {
	font-size: 1em;
	color: gray;
	font-style: italic;
}

.comment {
	clear: left;
}

.comment p {
	padding-left: 0;
}

.comment-second-level {
	border-left: 1px solid gray;
	margin-left: 1.5em;
	padding-left: 10px;
}