body { 
	background-color: #7F8C8D;
	font: 62.5% 'century gothic', applegothic, helvetica, sans-serif;
}

p {
	font: 1.4em/1.4 'gill sans', helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.4;
}

h1 {
	font-size: 3.15em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.1em;
}

h4 { font-size: 1.85em;

}

a {
	text-decoration: none;
	color: black;
}

#wrapper {
	background-color: #7F8C8D;
	overflow: hidden;
	margin: 20px auto;
	width: 960px;
}

#left-column {
	background-color: #7F8C8D;
	display: inline-block;
	width:20%;
}


#right-column {
	background-color: #7F8C8D;
	display: inline-block;
	width: 20%
}

#center-column {
	display: inline-block;
	width: 55%;
}

.main-content {
	background-color: #ECF0F1;
	padding: 20px 40px;
}


header {
	display: block;
	background-color: rgb(46, 204, 113);
	position: relative;
	color: #eee;
	padding: 20px 20px;
	height: 200px;
	border-bottom: 4px solid #27AE60;
}

nav {
	display: block;
	text-align: right;
	background-color: #34495E;
}

.relative {
	position: relative;
}

.right-aside {
	background-color: #ECF0F1;
	padding: 10px;
}
.align-bottom {
	position: absolute;
	top: 70%;
	left: 20px;
}

.main-navigation {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #34495E;
	padding: 5px 5px;
	margin: 0 0;
	font-size: 1.1em;
}

.bottom-border{
	border-bottom: 1px solid gray;
}